<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <div id="main_container">
        <div id="cadastro_grid">
            <div class="cadastro_item">
                <h1>Cadastrar</h1>
            </div>
            <div class="cadastro_item">
                <p>Nos informe o CNPJ da empreiteira:</p>
                <input id="cnpj" name="cnpj" type="number" placeholder="Ex: 23.844.246/0001-45">
            </div>
            <div class="cadastro_item">
                <p>Qual é o Nome Fantasia da empreiteira?</p>
                <input id="nomeFant" name="nomeFant" type="text" placeholder="Ex: Empretech Construções">
            </div>
            <div class="cadastro_item">
                <p>E a Razão Social?</p>
                <input id="razaoSoc" name="razaoSoc" type="text" placeholder="Ex: Empretech Construções e Serviços S.A">
            </div>
            <div class="cadastro_item">
                <p>E o Número de Inscrição?</p>
                <input id="insc" name="insc" type="number" placeholder="Ex: Empretech Construções e Serviços S.A">
            </div>  
            <div class="cadastro_item">
                <p>Qual foi a data de abertura da empreiteira?</p>
                <input id="dataAbert" name="dataAbert" type="date">
            </div>
            <div class="cadastro_item">
                <p>Nos informe o email principal da empreiteira</p>
                <input id="email" name="email" type="email" placeholder="Ex: Empretech@gmail.com">
            </div> 
            <div class="cadastro_item">
                <p>Nos informe o número do CNAE da empreiteira</p>
                <input id="cnae" name="cnae" type="number" placeholder="Ex: Empretech@gmail.com">
            </div> 
            <div class="cadastro_item">
                <p>Quantos funcionários a empreiteira tem?</p>
                <input id="func" name="func" type="number" placeholder="Ex: Empretech@gmail.com">
            </div> 
            <div class="cadastro_item">
                <p>Número de Inscrição</p>
                <input type="number" placeholder="Ex.: 123">
            </div>
            <div class="cadastro_item">
                <p>Me diga o serviço primário da empreiteira</p>
                <input id="serv1" name="serv1" type="text" placeholder="Ex.: 123">
            </div>
            <div class="cadastro_item">
                <p>Me diga o serviço secundário da empreiteira</p>
                <input id="serv2" name="serv2" type="text" placeholder="Ex.: 123">
            </div>
            <div class="cadastro_item address"><b><p>Nos informe o endereço da empreiteira?</p></b></div>
            <div class="cadastro_item">
                <p>Rua</p>
                <input id="rua" name="rua" type="text" placeholder="Ex.: Rua paraná">
            </div>
            <div class="cadastro_item">
                <p>Número</p>
                <input id="n" name="n" type="number" placeholder="Ex.: 123">
            </div>
            <div class="cadastro_item">
                <p>Bairro</p>
                <input id="bairro" name="bairro" type="text" placeholder="Ex.: Brás">
            </div>
            <div class="cadastro_item">
                <p>Estado</p>
                <select id="estados" name="estados"><option value=""></option></select>
            </div>
            <div class="cadastro_item">
                <p>Cidade</p>
                <select id="cidades" name="cidades"></select>
            </div>
            <div class="button-area">
                <button id="signup-button"onclick="submitProfile()">Cadastrar</button>
            </div> 
        </div> 
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="frontend/scripts/signup.js"></script>
<link rel="stylesheet" href="frontend/views/css/style.css">
</html>