<form method="post">
    <input type="text" required id="cnpj">
    <label for="cnpj">CNPJ</label><br>
    <input type="text" required id="razaoSoc">
    <label for="razaoSoc">Razão Social</label><br>
    <input type="text" required id="nomeFant">
    <label for="nomeFant">Nome Fantasia</label><br>
    <input type="number" required id="cnae">
    <label for="cnae">CNAE</label><br>
    <input type="number" required id="insc">
    <label for="insc">Número de inscrição</label><br>
    <input type="date" required id="data-abert">
    <label for="data-abert">Data de abertura</label><br>
    <input type="email" required id="email">
    <label for="email">E-Mail</label><br>
    <input type="text" required id="rua">
    <label for="rua">Rua</label><br>
    <input type="number" required id="n">
    <label for="n">N°</label><br>
    <input type="text" required id="bairro">
    <label for="bairro">Bairro</label><br>
    <select id="estados"><option value=""></option></select>
    <label for="estados">Estado</label><br>
    <select id="cidades"></select>
    <label for="cidades">Cidade</label><br>
    <input type="file" id="foto">
    <label for="foto">Foto</label><br>
    <input type="number" required id="func">
    <label for="func">Número de funcionários</label><br>
    <input type="text" required id="serv1">
    <label for="serv1">Serviço principal</label><br>
    <input type="text" required id="serv2">
    <label for="serv2">Serviço secundário</label><br>
    <input type="password" required id="pass">
    <label for="pass">Senha</label><br>
    <button type="submit">Entrar</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script src="/scripts/city-est.js"></script>