<!DOCTYPE html>
<html>
    <head>
        <title>Cadastrar</title>    
        <link rel="stylesheet" href="/public/css/cadastro.css">
    </head>
    
    <body>
        <div id="main_container">
            <div id="cadastro_grid">
                <div class="cadastro_item">
                    <h1>Cadastrar</h2>
                </div>
                <div class="cadastro_item">
                    <p>Nos informe o CNPJ da Empreiteira:</p>
                    <input type="number" placeholder="Ex: 23.844.246/0001-45"></input>
                </div>
                <div class="cadastro_item">
                    <p>Qual é o Nome Fantasia da Empreiteira?</p>
                    <input type="text" placeholder="Ex: Empretech Construções"></input>
                </div>
                <div class="cadastro_item">
                    <p>E a Razão Social?</p>
                    <input type="text" placeholder="Ex: Empretech Construções e Serviços S.A"></input>
                </div>  
                <div class="cadastro_item">
                    <p>Qual foi a data de abertura da Empreiteira?</p>
                    <input type="date" placeholder="Ex: 15/02/2015"></input>
                </div>
                <div class="cadastro_item">
                   <p>Nos informe o email principal da Empreiteira</p>
                    <input type="email" placeholder="Ex: Empretech@gmail.com"></input>
                </div> 
                <div class="cadastro_item">
                    <p>Nos informe o número do CNAE da Empreiteira</p>
                     <input type="number" placeholder="Ex: Empretech@gmail.com"></input>
                 </div> 
                 <div class="cadastro_item">
                    <p>Quantos funcionários têm na empreiteira?</p>
                     <input type="number" placeholder="Ex: Empretech@gmail.com"></input>
                 </div> 
                 <div class="cadastro_item">
                    <p>Nos informe o endereço da Empreiteira?</p>
                     <input type="number" placeholder="Ex: Empretech@gmail.com"></input>
                 </div>
                 <div class="button-area">
                    <button type="button" id="button_enviars"></button>
                 </div> 
   
            </div> 
        </div>
        
    </body>
</html>
