<!DOCTYPE html>
<html>
<!-- Importação de estilo, jquery, ajax, script e rota -->
  <head>
    <title>Cadastrar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/views/css/cadastro.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/frontend/scripts/signup.js"></script>
    <script src="/backend/routes/signup.js"></script>
  </head>
<!-- Página para criar o cadastro da contratante -->
  <body>
     <!-- O "main_container" é utilizado como base para centralizar na página a localização do form -->
    <div id="main_container">
      <!-- Este é o form para enviar as informações ao banco de dados -->
        <form id="cadastro_grid">
          <div class="">
            <h1>Cadastrar Empreiteira</h1>
          </div>
          <!-- A classe "cadastro_item" normaliza todos os inputs do form como nome, telefone, entre outros -->
          <div class="cadastro_item">
            <p>Nos informe o CNPJ da Empreiteira:</p>
            <input name="cnpj" id="cnpj" type="text" required placeholder="Ex: 00.000.000/0000-00" required autocomplete="off" maxlength="18">
          </div>
          <div class="cadastro_item">
            <p>Qual é o Nome Fantasia da Empreiteira?</p>
            <input type="text" name="nomeFant" id="nomeFant" required placeholder="Ex: Empretech Construções">
          </div>
          <div class="cadastro_item">
            <p>E a Razão Social?</p>
            <input type="text" name="razaoSoc" id="razaoSoc" required placeholder="Ex: Empretech Construções e Serviços S.A">
          </div>
          <div class="cadastro_item">
            <p>Qual foi a data de abertura da Empreiteira?</p>
            <input type="date" name="dataAbert" id="dataAbert" required>
          </div>
          <div class="cadastro_item">
            <p>Nos informe o email principal da Empreiteira</p>
            <input type="email" name="email" id="email" placeholder="Ex: Empretech@gmail.com" required>
          </div>
          <div class="cadastro_item">
            <p>Nos informe o número do CNAE da Empreiteira</p>
            <input type="text" name="cnae" id="cnae" placeholder="Ex: 0000-0/00" required autocomplete="off" maxlength="9">
          </div>
          <div class="cadastro_item">
            <p>Quantos funcionários têm na empreiteira?</p>
            <input type="number" name="func" id="func" placeholder="Ex: 9999" required>
          </div>
          <div class="cadastro_item">
            <p>Nos informe o endereço da Empreiteira?</p>
            <select id="estados" name="estados" required>
              <option value=""></option>
            </select><br>
            <select id="cidades" name="cidades" required>
            </select>
          </div>
          <div class="cadastro_item" id="servico_cadastro">
            <p>Nos informe os serviços que a Empreiteira realiza</p>
            <select id="serv1" name="serv1" required>
              <option value="Concretagem">Concretagem</option>
              <option value="Drywall">Drywall</option>
              <option value="Pintura">Pintura</option>
              <option value="Serralheira">Serralheira</option>
              <option value="Vidraçaria">Vidraçaria</option>
              <option value="Logística">Logística</option>
              <option value="Alvenaria">Alvenaria</option>
              <option value="Hidráulico">Hidráulico</option>
              <option value="Elétrico">Elétrico</option>
            </select>
            <select id="serv2" name="serv2">
              <option value=""></option>
              <option value="Concretagem">Concretagem</option>
              <option value="Drywall">Drywall</option>
              <option value="Pintura">Pintura</option>
              <option value="Serralheira">Serralheira</option>
              <option value="Vidraçaria">Vidraçaria</option>
              <option value="Logística">Logística</option>
              <option value="Alvenaria">Alvenaria</option>
              <option value="Hidráulico">Hidráulico</option>
              <option value="Elétrico">Elétrico</option>
            </select>
          </div>
          <div class="cadastro_item">
            <p>Crie uma senha:</p>
            <input name="senha" id="senha" type="text" required placeholder="Ex: 1234">
          </div>
          <div class="cadastro_item">
            <h1>Responsável Empreiteira</h1>
          </div>
          <div class="cadastro_item">
            <p>Qual é o CPF do Responsável pela Empreiteira:</p>
            <input name="cpf_responsavel" id="cpf_responsavel" type="text" required placeholder="Ex: 000.000.000-00" required autocomplete="off" maxlength="14">
          </div>
          <div class="cadastro_item">
            <p>Insira o nome do Responsável pela Empreiteira:</p>
            <input name="nome_responsavel" id="nome_responsavel" type="text" required placeholder="Ex: João Freitas Almeida">
          </div>
          <div class="cadastro_item">
            <p>Nos informe o Email do Responsável pela Empreiteira:</p>
            <input name="email_responsavel" id="email_responsavel" type="text" required placeholder="Ex: joão.freitas@email.com">
          </div>
          <div class="cadastro_item">
            <p>Qual é o número do celular do Responsável pela Empreiteira:</p>
            <input name="celular_responsavel" id="celular_responsavel" type="text" required placeholder="Ex: 11971234567">
            <input name="id_empreiteira_fk" id="id_empreiteira_fk" type="hidden" value="">
          </div>
          <div class="cadastro_item">
            <!-- O botão faz o envio do form para a url definida em "action" para enviar ao banco de dados -->
            <button id="signup">Cadastrar</button>
          </div>
        </form>
    </div>
    <script>
      // Script que cria a máscara para o cnpj
      const input=document.querySelector('#cnpj')

      input.addEventListener('keypress', () => {
          let inputlength = input.value.length
          
          if (inputlength === 2 || inputlength === 6){
              input.value += '.' 
          } else if (inputlength===10){
              input.value += '/'
          }
          else if (inputlength===15){
              input.value += '-'
          }
      })
    </script>
    <script>
            // Script que cria a máscara para o cnae
      const cnae=document.querySelector('#cnae')

      cnae.addEventListener('keypress', () => {
          let inputlength = cnae.value.length
          
          if (inputlength === 4 ){
              cnae.value += '-' 
          } 
          else if (inputlength===6){
              cnae.value += '/'
          }

      })
    </script>
    <script>
            // Script que cria a máscara para o cpf
      const cpf=document.querySelector('#cpf_responsavel')

      cpf.addEventListener('keypress', () => {
          let cpflength = cpf.value.length
          
          if (cpflength === 3 || cpflength === 7){
              cpf.value += '.' 
          } 
          else if (cpflength===11){
              cpf.value += '-'
          }
      })
    </script>
  </body>

</html>