<!DOCTYPE html>
<html>

  <head>
    <title>Cadastrar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/views/css/cadastro.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/frontend/scripts/signup.js"></script>
  </head>

  <body>
    <div id="main_container">
        <form id="cadastro_grid">
          <div class="cadastro_item">
            <p>Nos informe o CNPJ da Empreiteira:</p>
            <input name="cnpj" id="cnpj" type="text" required placeholder="Ex: 00.000.000/0000-00">
          </div>
          <div class="cadastro_item">
            <p>Qual é o Nome Fantasia da Empreiteira?</p>
            <input type="text" name="nomeFant" id="nomeFant" required placeholder="Ex: Empretech Construções">
          </div>
          <div class="cadastro_item">
            <p>E a Razão Social?</p>
            <input type="text" name="razaoSoc" id="razaoSoc" required placeholder="Ex: Empretech Construções e Serviços S.A">
          </div>
          <div class="cadastro_item">
            <p>Qual foi a data de abertura da Empreiteira?</p>
            <input type="date" name="dataAbert" id="dataAbert" required>
          </div>
          <div class="cadastro_item">
            <p>Nos informe o email principal da Empreiteira</p>
            <input type="email" name="email" id="email" placeholder="Ex: Empretech@gmail.com" required>
          </div>
          <div class="cadastro_item">
            <p>Nos informe o número do CNAE da Empreiteira</p>
            <input type="text" name="cnae" id="cnae" placeholder="Ex: 0000-0/00" required>
          </div>
          <div class="cadastro_item">
            <p>Quantos funcionários têm na empreiteira?</p>
            <input type="number" name="func" id="func" placeholder="Ex: 9999" required>
          </div>
          <div class="cadastro_item">
            <p>Nos informe o endereço da Empreiteira?</p>
            <select id="estados" name="estados" required>
              <option value=""></option>
            </select>
            <select id="cidades" name="cidades" required>
            </select>
          </div>
          <div class="cadastro_item" id="servico_cadastro">
            <p>Nos informe os serviços que a Empreiteira realiza</p>
            <select id="serv1" name="serv1" required>
              <option value="Concretagem">Concretagem</option>
              <option value="Drywall">Drywall</option>
              <option value="Pintura">Pintura</option>
              <option value="Serralheira">Serralheira</option>
              <option value="Vidraçaria">Vidraçaria</option>
              <option value="Logística">Logística</option>
              <option value="Alvenaria">Alvenaria</option>
              <option value="Hidráulico">Hidráulico</option>
              <option value="Elétrico">Elétrico</option>
            </select>
            <select id="serv2" name="serv2">
              <option value=""></option>
              <option value="Concretagem">Concretagem</option>
              <option value="Drywall">Drywall</option>
              <option value="Pintura">Pintura</option>
              <option value="Serralheira">Serralheira</option>
              <option value="Vidraçaria">Vidraçaria</option>
              <option value="Logística">Logística</option>
              <option value="Alvenaria">Alvenaria</option>
              <option value="Hidráulico">Hidráulico</option>
              <option value="Elétrico">Elétrico</option>
            </select>
          </div>
          <div class="cadastro_item">
            <button id="signup">Cadastrar</button>
          </div>
        </form>
    </div>
  </body>

</html>