<!-- Importando sidebar -->
<%- include("../structures/menu.ejs") %>
<!-- Resultado da alteração no perfil contratante -->
<p>
	<%= console.log('ID:', id)%>
	RESULTADO: <%= mensagem %> 
</p>

<a href="/regionalPerfil?id=<%= id %>">Voltar</a>