<!-- Importando sidebar -->
<%- include("../structures/menu.ejs") %>
<!-- Resultado da alteração da oportunidade -->
<p>
	RESULTADO: <%= mensagem %>
</p>
<a href="/regionalPerfil?id=<%= id %>">VOLTAR</a>
