<%- include("../structures/menu.ejs") %>
<!--
Posso usar o metodo POST para criar a oportunidade??
-->
SDCVSD
<form method="POST" action="/regionalPerfil/criarOportunidade">
	<input type="hidden" name="ID_Contratante" value="<%= id %>" />
	<div>
		<label for="Data_Oportunidade">Data de Criação</label>
		<input type="text" id="Data_Oportunidade" name="Data_Oportunidade" />
	</div>

	<div>
		<label for="Servico">Serviço</label>
		<input type="text" id="Servico" name="Servico" />
	</div>

	<div>
		<label for="Titulo">Titulo</label>
		<input type="text" id="Titulo" name="Titulo"  />
	</div>

	<div>
		<label for="Escopo">Escopo</label>
		<input type="text" id="Escopo" name="Escopo" />
	</div>

	<div>
		<label for="Data_Inicio">Data Início</label>
		<input type="text" id="Data_Inicio" name="Data_Inicio" />
	</div>

	<div>
		<label for="Data_Fim">Data Fim</label>
		<input type="text" id="Data_Fim" name="Data_Fim" />
	</div>

	<div>
		<label for="Status">Status</label>
		<input type="text" id="Status" name="Status" />
	</div>

	<div>
		<label for="Estado">Estado</label>
		<input type="text" id="Estado" name="Estado" />
	</div>

	<div>
		<label for="Cidade">Cidade</label>
		<input type="text" id="Cidade" name="Cidade"  />
	</div>

	<div>
		<label for="Nome_Obra">Nome Obra</label>
		<input type="text" id="Nome_Obra" name="Nome_Obra"  />
	</div>

	<div>
		<label for="Endereco">Endereço</label>
		<input type="text" id="Endereco" name="Endereco"  />
	</div>

	<button type="submit">Criar Oportunidade</button>
</form>

<a href="/regionalPerfil/listar">VOLTAR</a>

