<!-- Adicionando sidebar e header na versão contratante -->
<%- include("../structures/menuContratante.ejs") %>
<!-- Resultado de remover oportunidade -->
<p>
	RESULTADO: <%= mensagem %>
</p>
<a href="/regionalPerfil?id=<%= id %>">VOLTAR</a>

