
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src="backend/routes/loginCont.js"></script>
<link rel="stylesheet" href="/frontend/views/css/feed.css">
<body class="login-body">
    <div class="header login-shadow">
        <div class="horizontal-container">
            <h1>ConstruMatch</h1>
            <div class="icons-right">
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>  
    </div>
    <div class="main-container center">
        <div class="center-box">
            <h1 class="center">Login</h1>
            <form method="post" action="http://localhost:1234/loginCont/banco">
                <div>
                    <input type="text" id="cpf" name="cpf" required>
                    <label>CPF</label>
                </div>
                <div class="txt-field">
                    <input type="password" id="senha" name="senha" required>
                    <label>Senha</label>
                </div>
                <div class="center"><input type="submit" id="submit" value="Entrar"></div>
                <div class="center"><a href="register.html">Ainda não está cadastrado?</a></div>      
            </form>
        </div>
    </div>
</body>

<div id="probSenha" class="modal">
    <div class="modal_content">
       <h2 class="modal_title">Senha incorreta ou não preenchida</h2>
        <div id="modal_buttons_responsavel">
            <a href="#" class="close_button">Fechar</a>
        </div>
   </div>
</div>

<div id="probCPF" class="modal">
    <div class="modal_content">
       <h2 class="modal_title">CPF incorreto ou não preenchido</h2>
        <div id="modal_buttons_responsavel">
            <a href="#" class="close_button">Fechar</a>
        </div>
   </div>
</div>