<!-- <%- include("../structures/menu.ejs") %>

<body class="login-body">
    <div class="header login-shadow">
        <div class="horizontal-container">
            <h1>ConstruMatch</h1>
            <div class="icons-right">
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>  
    </div>
    <div class="main-container center">
        <div class="center-box">
            <h1 class="center">Login</h1>
            <form action="post">
                <div>
                    <input type="text" required>
                    <label>CNPJ</label>
                </div>
                <div class="txt-field">
                    <input type="password" required>
                    <label>Senha</label>
                </div>
                <div class="center"><input type="submit" value="Entrar"></div>
                <div class="center"><a href="register.html">Esqueceu a senha?</a></div>
                <div class="center"><a href="register.html">Ainda não está cadastrado?</a></div>      
            </form>
        </div>
    </div>
</body> -->