<!-- Importando jquery e css-->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src="backend/routes/loginCont.js"></script>
<link rel="stylesheet" href="/frontend/views/css/feed.css">
<head><title>Login</title></head>
<!-- Modal senha incorreta -->
<div id="probSenha" class="modal">
    <div class="modal_content">
       <h2 class="modal_title">Senha incorreta ou não preenchida</h2>
        <div id="modal_buttons_responsavel">
            <a href="#" class="close_button">Fechar</a>
        </div>
   </div>
</div>
<!-- Modal email incorreto -->
<div id="probEmail" class="modal">
    <div class="modal_content">
       <h2 class="modal_title">Email incorreto ou não preenchido</h2>
        <div id="modal_buttons_responsavel">
            <a href="#" class="close_button">Fechar</a>
        </div>
   </div>
</div>
<!-- Style adicional -->
<style>
    .grid-item{
        margin-top: 5%;
    }
    input{
        margin: 5%;
    }
    body{
        text-align: center;
        justify-items: center;
        overflow-y: hidden;
    }
    .post-box{
        text-align: center;
        justify-content: center;
        height: 50%;

    }
    #title{
        height: 70px;
        margin-bottom: 0px;
    }
</style>
<!-- Página de login -->
<body class="grid-container">
    <div class="grid-item">
        <div class="post-box">
            <h1 id="title">ConstruMatch</h1>
            <form method="post" action="/login/banco">
                <div>
                    <label>Email: </label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="txt-field">
                    <label>Senha: </label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div class="center"><input type="submit" id="submit" value="Entrar"></div>
                <div class="center"><a href="/cadastrar">Ainda não está cadastrado?</a></div>      
            </form>
        </div>
    </div>
</body>