<!-- Essa página não estará no produto final, ela foi criada com o objetivo de navegar por todos endpoints em função de teste -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../frontend/scripts/menu.js"></script>
    <title>Index</title>
</head>
<body>
    <header>
        <h1>Index</h1>
        <h2>Essa página não estará no produto final, ela foi criada com o objetivo de navegar por todos endpoints em função de teste</h2>
    </header>
    <a onclick="redirect('feed')">Endpoint Feed</a>
    <br>
    <a onclick="redirect('cadastrar')">Endpoint Cadastrar</a>
    <br>
    <a onclick="redirect('perfil/?id=1')">Endpoint Perfil (ID 1)</a>
    <br>
    <a onclick="redirect('perfil/?id=2')">Endpoint Perfil (ID 2)</a>
    <br>
    <a onclick="redirect('perfil/?id=3')">Endpoint Perfil (ID 3)</a>
</body>
<style>
    header {
        text-align: center;
    }
    a {
        text-decoration: underline;
        color: cadetblue;
    }
    a:hover {
        color: blue;
    }
</style>
</html>