<!-- Essa página não estará no produto final, ela foi criada com o objetivo de navegar por todos endpoints em função de teste -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/frontend/scripts/menu.js"></script>
    <title>Index</title>
</head>
<body>
    <header>
        <h1>Página de demonstração</h1>
        <h2>Essa página não estará no produto final, ela foi criada com o objetivo de navegar por todos endpoints em função de teste</h2>
    </header>
    <a href="/cadastrar">Página de cadastro empreiteira</a>
    <br>
    <a href="/login">Página de login empreiteira</a>
    <br>
    <a href="/loginCont">Página de login regional</a>
</body>
<style>
    header {
        text-align: center;
    }
    a {
        text-decoration: underline;
        color: cadetblue;
    }
    a:hover {
        color: blue;
    }
</style>
</html>