@import url('http://fonts.googleapis.com/css?family=Noto+Sans&dispaly=swap');

:root{
    /* - Color palette - */
    --blue1: #93b1cb;
    --blue2: #85a7c5;
    --blue3: #789ebf;
    --greenA1: #568f6a;
    --greenA2: #428157;
    --greenA3: #2d7345;
    --greenB1: #8fe094;
    --greenB2: #81dc87;
    --greenB3: #73d97a;
    --yellowA1: #f4a966;
    --yellowA2: #f39e54;
    --yellowA3:#f29441;
    --yellowB1: #f4b669;
    --yellowB2: #f3ad56;
    --yellowB3:#f2a444;
    --boneWhite: #F9F6EE;
}

/* ---- Indicators ---- */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans';
    box-sizing: border-box;
}

a, p, h1, h2, h3, h4, h5, h6{
    text-decoration: underline;
    color: white
}

.gap1{     /* gap é espaçamento entre itens que estão dentro de um container */
    gap: 1rem;
}

.gap2{     /* gap é espaçamento entre itens que estão dentro de um container */
    gap: 2rem;
}

.padding2rem{
    padding: 2rem;
    
}

.padding1rem{
    padding: 1rem;

}

.padding131{
    padding: 1em 3em 1em; /* superior | horizontal | inferior */
}

.alignright{
    align-items: right;
}

.principal{
    height:768px;
}

.central{
    width: 100%;
    height: 100%;
    background-color: #ffffff;

}

.imgbottom{
    position: absolute;
    bottom: 0;
}

.vertical-container{
    display: flex; /*vai usar o flex direction na organização */
    /*border: 1px solid black; */
    flex-direction: column;
}

.horizontal-container{
    display: flex;
    flex-direction: row;
}


nav{
    padding: 10px 2%;
    background: linear-gradient(to right, var(--greenB3) 0%, var(--greenA2) 100%);
    justify-content: space-between;
    position: static;
    top: 0px;
    box-shadow: 0 10px 10px 0 var(--yellowA2);

}


img{
    cursor: pointer;
}

form .txt-field{
    position: relative;
    border-bottom: 2px solid whitesmoke;
    margin: 30px 0;

}

/* ---- Classes ---- */

.flex-div{
    display: flex;
    align-items: center;

}

/* - Center - */
.center-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--greenA1);
    border-radius: 30px;
    box-shadow: 10px 10px 15px var(--yellowA2);
}
.center-box h1{
    text-align: center;
    color: white;
    padding: 20px 0 20px 0;
    border-bottom: 3px solid var(--greenA3);
}
.center-box form{
    padding: 0 40px;
    box-sizing: border-box;
}

.center-text{
    color: white;
}

/* - Navbar - */
.nav-left p{
    font-size: 30px;
    color: white;
}

.nav-right img{
    width: 35px;
}

/* -  Login - */
.login-body{
    background: linear-gradient(90deg, var(--yellowB1), var(--yellowA1));
}

.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
    caret-color: var(--greenA3);
}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: whitesmoke;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--blue1);
    transition: .5s;
}
.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -5px;
    color: var(--greenB1);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: var(--greenB1);
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}

.interacoes{
    margin-left: 1px;
    border: 1px solid black;
    width: 30%;
    height: 30%;
}

.fakeimgpost{
    border: 1px solid black;
    width: 100%;
    height: 100px;
}

.fakeimgservice{
    border: 1px solid black;
    width: 50%;
    height: 20px;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

.signup-link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
}
.signup-link a{
    color: var(--greenB1);
    text-decoration: none;
}
.signup-link a:hover{
    text-decoration: underline;
}

/* - Criação de post - */
.containerUnique{
    width: 100%;
    left:0px;
    margin-top: 25px;
    font-weight: bold;
    padding-left: 15%;
    font-size: 24px;
}
.containerDouble{
    width: 50%;
    margin: 0px;
    font-weight: bold;
    padding-left: 10%;
    font-size: 24px;
    margin-top: 25px;
}
.inputSmall{
    border-radius: 20px;
    width: 80%;
    height: 30px;
    padding-left: 5px;
}
.inputBig{
    border-radius: 20px;
    width: 80%;
    height: 80px;
    padding-left: 5px;
}
.box{
    display: flex;
    left: 0px;
    flex-wrap: wrap;
    width: 100%;
}


#cidadePost{
    width:70% ;
}
#estadoPost{
    width: 10%;
}
#headPost{
    box-shadow: 0 0 5px 5px var(--yellowA2);
}
#footPost{
    box-shadow: 0 0 5px 5px var(--yellowA2);
}
#postar{
    width: 40%;
}
#botaoPost{
    text-align: center;
    padding: 0px;
}
#backgroundPost{
    background-color: var(--boneWhite);
}
/* -  Footer - */
.footer{
    padding: 10px 2%;
    background: linear-gradient(to right, var(--greenB3) 0%, var(--greenA2) 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px 10px var(--yellowA2);
}

/* ---- Size Change ---- */
/* -  Phones - */
@media only screen and (max-device-width: 480px){
    .center-box h1{
    padding: 20px 110px 20px 110px;
}
}

/* -  Tablets - */
@media only screen and (max-device-width: 768px){
    .center-box h1{
    padding: 20px 80px 20px 80px;
}
}

#main{
    height:768px;
    display: flex;
    flex-direction: row;
}

#leftside{
    display: flex; /*vai usar o flex direction na organização */
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    float:left;
    width: 20%;
    height: 100%;
    background-color: #2D7345;
    position: fixed;
}

#content{
    display: flex; /*vai usar o flex direction na organização */
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-left: 20%;
}



#infoopportunity{
    display: flex; /*vai usar o flex direction na organização */
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: 1px solid black;
}

#infoopportunity a{
    color: black;   
}    
#interactionsopportunity{
    display: flex; /*vai usar o flex direction na organização */
    flex-direction: row;
    color: black;   
    width: 30%;
    height: 100%;
    border: 1px solid black;
    padding-left: 20%;
    padding-top: 5px;
    
}
