<%- include("../structures/menu.ejs") %>
<%- include("../structures/footer.ejs") %>

<head>
    <link rel="stylesheet" href="/frontend/views/css/perfil_empreiteira.css">
    
</head>

<div id="grid-container">
    <div class="grid-item">
        <div id="profile_pic">
            <img id="icon_user"> 
        </div>

        <div>
            <p id="name_empreiteira" name="name_empreiteira"></p>
            <p id="service_empreiteira"></p>
        </div>
    </div>
               
    <div class="grid-item">
        <a href="#modal" class="btn"><button id="edit_profile" onclick="ShowdataInput();">Editar Empreiteira</button></a>
        <a href="#modal_responsavel" class="btn"><button id="edit_responsavel">Editar Responsável</button></a>
    </div>   
    <div class="grid-item">
        <div id="info_empreiteira">
            <div class="info_grid_item">
                <h2>Dados da Empreiteira</h1> 
            </div>
            <div class="info_grid_item">
                <p class="title_grid"><b>CNPJ:</b></p>
                <p id="cnpj"></p>
            </div>
            <div class="info_grid_item">        
                <p class="title_grid"><b>E-mail:</b></p>
                <p id="email">Empretech@gmail.com</p>
            </div>
            <div class="info_grid_item">
                <p class="title_grad"><b>Número de funcionários:</b></p>
                <p id="funcionarios_empreiteira_value"></p> 
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div id="rate_empreiteira">
            <div class="rate_grid_item">
                <h2>Avaliações</h1> 
            </div>
            <div class="rate_grid_item">
                <p>Avaliação Geral</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="rate_grid_item">        
                <p>Organização</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
             
            </div>
            <div class="rate_grid_item">        
                <p>Produtividade</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
               
            </div>
            <div class="rate_grid_item">        
                <p>Documentação</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                
            </div>
            <div class="rate_grid_item">        
                <p>Limpeza</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                
            </div>
        </div>
   </div>

   <div class="grid-item">
    <div id="info_responsavel">
        <div class="responsavel_grid_item">
            <h2>Responsável pela Empreiteira</h1> 
        </div>
        <div class="responsavel_grid_item">
            <p class="title_grid"><b>CPF:</b></p>
            <p>XXX.XXX.XXX-XX</p>
        </div>
        <div class="responsavel_grid_item">        
            <p class="title_grid"><b>E-mail:</b></p>
            <p>Joao_Martins.Empretech@gmail.com</p>
        </div>
        <div class="responsavel_grid_item">
            <p class="title_grid"><b>Nome Completo:</b></p>
            <p>João Martins de Oliveira</p>
        </div>
     
        <div class="responsavel_grid_item">
            <p class="title_grad"><b>Celular - Whatsapp:</b></p>
            <p id="funcionarios_empreiteira_value">(XX) XXXXX-XXXX</p> 
        </div>
        </div>
    </div>
</div>

<!-- Modal Editar Informações Empreiteira -->

<div id="modal" class="modal">
    <div class="modal_content">
       <h2 class="modal_title">Editar Informações da Empreiteira</h2>
       <div class="modal_description">
        <!-- <form id="formulario_uptade_empreiteira" name="form_uptade_empreiteira" method="post" action="http://localhost:1234/perfil/empreiteira/atualizar"</form>> -->                
        <form id="formulario_uptade_empreiteira" name="form_uptade_empreiteira" method="post" action="http://127.0.0.1:1234/perfil/empreiteira/atualizar">
            <p>CNPJ:</p>
            <input type="text" name="cnpj_empreiteira" id="cnpj_empreiteira" readonly value="">
            <p>Nome Fantasia:</p>
            <input type="text" name="nome_fantasia_empreiteira" id="nome_fantasia_empreiteira" value="" ></input>
            <p>Razão Social:</p>
            <input type="text" name="razao_social_empreiteira" id="razao_social_empreiteira" value=""></input>
            <p>Email:</p>
            <input type="text" name="email_empreiteira" id="email_empreiteira" value=""></input>
            <p>CNAE:</p>
            <input type="text" name="cnae_empreiteira" id="cnae_empreiteira" value=""></input>
            <p>Data de Abertura:</p>
            <input type="text"  name="data_abertura_empreiteira" id="data_abertura_empreiteira" value=""></input>
            <p>Número de Funcionários:</p>
            <input type="text" name="numero_funcionarios" id="numero_funcionarios" value=""></input>
            <p>Serviço Primário:</p>
            <input type="text" name="servico_primario_empreiteira" id="servico_primario_empreiteira" value=""></input>
            <p>Serviço Secundário:</p>
            <input type="text" name="servico_secundario_empreiteira" id="servico_secundario_empreiteira" value=""></input>
            <input type="hidden" name="id" id="id" value=""> 
            <!-- <a name="send_button" class="send_button"><button>Atualizar</button></a> -->
            <input type="submit" name="button_enviar" id="button_enviar" onclick="">Enviar mudanças</button>

        </form>
            
        </div>
        <div id="modal_buttons">
            <a href="#" class="close_button">Fechar</a>
            <!-- <a name="send_button" class="send_button">Atualizar</a> -->
        </div>
       
   </div>
</div>


<!-- Modal Editar Informações Empreiteira -->

<div id="modal_responsavel" class="modal_responsavel">
    <div class="modal_content">
       <h2 class="modal_title">Editar Informações do Responsável</h2>
       <div class="modal_description">
        <form id="formulario_uptade_responsavel">
            <p>CPF:</p>
            <input type="number" readonly placeholder="332.587.273-84"></input>
            <p>Nome:</p>
            <input type="text" placeholder="" value=""></input>
            <p>Email:</p>
            <input type="email" placeholder=""></input>
            <p>Celular:</p>
            <input type="tel" placeholder=""></input>
            
        </form>
            
        </div>
        <div id="modal_buttons_responsavel">
            <a href="#" class="close_button">Fechar</a>
            <a href="#" class="send_button">Atualizar</a>
        </div>
       
   </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/frontend/scripts/perfil_empreiteira.js"></script>