<%- include("menu.ejs") %>
<head>
    <link rel="stylesheet" href="/public/css/perfil_empreiteira.css">
</head>

<div id="grid-container">
    <div class="grid-item">
        <div id="profile_pic">
            <!-- <img src="/img/icon_user.png" id="icon_user"> -->
        </div>

        <div>
            <p id="name_empreiteira">Empretech</p>
            <p id="service_empreiteira">Cerâmica</p>
        </div>
    </div>
               
    <div class="grid-item">
        <a href="#modal" class="btn"><button id="edit_profile">Editar Empreiteira</button></a>
        <a href="#modal_responsavel" class="btn"><button id="edit_responsavel">Editar Responsável</button></a>
    </div>   
    <div class="grid-item">
        <div id="info_empreiteira">
            <div class="info_grid_item">
                <h2>Dados da Empreiteira</h1> 
            </div>
            <div class="info_grid_item">
                <p class="title_grid"><b>CNPJ:</b></p>
                <p>XX.XXX.XXX/00001-XX</p>
            </div>
            <div class="info_grid_item">        
                <p class="title_grid"><b>E-mail:</b></p>
                <p>Empretech@gmail.com</p>
            </div>
            <div class="info_grid_item">
                <p class="title_grid"><b>Celular - Whatsapp:</b></p>
                <p>(11)98643-5012</p>
            </div>
            <div class="info_grid_item">
                <p class="title_grid"><b>Data de Cadastro:</b></p>
                <p id="signup_date_value">30/10/2020</p> 
            </div>
            <div class="info_grid_item">
                <p class="title_grad"><b>Número de funcionários:</b></p>
                <p id="funcionarios_empreiteira_value">15 funcionários</p> 
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div id="rate_empreiteira">
            <div class="rate_grid_item">
                <h2>Avaliações</h1> 
            </div>
            <div class="rate_grid_item">
                <p>Avaliação Geral</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="rate_grid_item">        
                <p>Organização</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
             
            </div>
            <div class="rate_grid_item">        
                <p>Produtividade</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
               
            </div>
            <div class="rate_grid_item">        
                <p>Documentação</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                
            </div>
            <div class="rate_grid_item">        
                <p>Limpeza</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                
            </div>
        </div>
   </div>

   <div class="grid-item">
    <div id="info_responsavel">
        <div class="responsavel_grid_item">
            <h2>Responsável pela Empreiteira</h1> 
        </div>
        <div class="responsavel_grid_item">
            <p class="title_grid"><b>CPF:</b></p>
            <p>XXX.XXX.XXX-XX</p>
        </div>
        <div class="responsavel_grid_item">        
            <p class="title_grid"><b>E-mail:</b></p>
            <p>Joao_Martins.Empretech@gmail.com</p>
        </div>
        <div class="responsavel_grid_item">
            <p class="title_grid"><b>Nome Completo:</b></p>
            <p>João Martins de Oliveira</p>
        </div>
     
        <div class="responsavel_grid_item">
            <p class="title_grad"><b>Celular - Whatsapp:</b></p>
            <p id="funcionarios_empreiteira_value">(XX) XXXXX-XXXX</p> 
        </div>
        </div>
    </div>
</div>

<!-- Modal Editar Informações Empreiteira -->

<div id="modal" class="modal">
    <div class="modal_content">
       <h2 class="modal_title">Editar Informações da Empreiteira</h2>
       <div class="modal_description">
        <form id="formulario_uptade_empreiteira">
            <p>CNPJ:</p>
            <input type="number" readonly value="1123829329/0001-90"></input>
            <p>Nome Fantasia:</p>
            <input type="text" value="" ></input>
            <p>Razão Social:</p>
            <input type="text" value=""></input>
            <p>Email:</p>
            <input type="email" value=""></input>
            <p>CNAE:</p>
            <input type="number" value=""></input>
            <p>Data de Abertura:</p>
            <input type="date" value=""></input>
            <p>Número de Funcionários:</p>
            <input type="number" value=""></input>
            <p>Serviço Primário:</p>
            <input type="text" value=""></input>
            <p>Serviço Secundário:</p>
            <input type="text" value=""></input>
            <p>
        </form>
            
        </div>
        <div id="modal_buttons">
            <a href="#" class="close_button">Fechar</a>
            <a href="#" class="send_button">Atualizar</a>
        </div>
       
   </div>
</div>


<!-- Modal Editar Informações Empreiteira -->

<div id="modal_responsavel" class="modal_responsavel">
    <div class="modal_content">
       <h2 class="modal_title">Editar Informações do Responsável</h2>
       <div class="modal_description">
        <form id="formulario_uptade_responsavel">
            <p>CPF:</p>
            <input type="number" readonly placeholder="332.587.273-84"></input>
            <p>Nome:</p>
            <input type="text" placeholder="" value="<%= empreiteira.NomeFantasia %>"></input>
            <p>Email:</p>
            <input type="email" placeholder=""></input>
            <p>Celular:</p>
            <input type="tel" placeholder=""></input>
            
        </form>
            
        </div>
        <div id="modal_buttons_responsavel">
            <a href="#" class="close_button">Fechar</a>
            <a href="#" class="send_button">Atualizar</a>
        </div>
       
   </div>
</div>
