<%- include("../structures/menu.ejs") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="../../frontend/scripts/empProf.js"></script>
<style>    
   @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0; 
}

html{
    background-color: #F9F6EE;
}


#grid-container{
    display: grid;
    height: 100vh;
     grid-template-columns: 80% 80%; 
    /* grid-template-rows: 20%; */
    padding: 10px;
    justify-content: center;
    margin-left: 15%;
    width: 55%;
}

.grid-item{
    display: flex;
    /* border-left: 2px solid black; */
    padding-right: 10px;
    /* padding-bottom: 30px; */
    /* border: 2px solid #000; */
    
}

.grid-item > p{
    color: #000;
   
}

#profile_pic{
    display: flex;
    background-color: gray;
    border-radius: 50%;
    width: 120px;
    height: 115px;
    position: relative;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#icon_user{
    top: 21%;
    left: 29%;
    height: 10rem;
}

.grid-item:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: black;
}

.grid-item:nth-child(1) > div{
    margin-left: 40px;

}

#name_empreiteira, #service_empreiteira{
    color: green;
}

#name_empreiteira{
    font-size: 30px;
    margin-bottom: 5px;
}

#service_empreiteira{
    font-size: 25px;
}


#edit_profile{
    border-radius: 30px;
    background-color: #D9D9D9;
    width: 150px;
    height: 50px;
    cursor: pointer;

}
/* 
.grid-item:nth-child(2){
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: initial;
} */

.grid-item:nth-child(2){
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: flex-end; */
    /* justify-content: center; */
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    padding: 2% 0 2% 3.5%;

}


#info_empreiteira{
    width: 90%;
    height: 50vh;
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 2% 5% 2% 2%;
    display: grid;
    grid-template-columns: 60% 60%;
    grid-template-rows: 20% 20% 20% 20%;
    border: 2px solid #000;
 
}

#info_empreiteira > p{
    color: #000;
}

#rate_empreiteira{
    width: 90%;
    height: 50vh;
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 2%;
    display: grid;
    grid-template-columns: 100%;
    border: 2px solid #000;
}

#rate_empreiteira > .rate_grid_item > h2{
    margin-top: -5px;
}

.grid-item:nth-child(5){
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 0 0 0;
} 

.grid-item:nth-child(3){
    display: flex;
    flex-direction: row; 
    /* flex-direction: flex-end; */
     justify-content: center; 
   
    /* padding-left: 25%; */
    /* background-color: blue; */
}

.grid-item:nth-child(4){
    display: flex;
    flex-direction: row; 
    /* flex-direction: flex-end; */
     justify-content: center; 
   
    /* padding-left: 25%; */
    /* background-color: blue; */
}

.info_grid_item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin-left: 22%;
    }

#title_grad{
    margin-top: 30px;
}

.rate_grid_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate_grid_item:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}

#info_responsavel{
    width: 97%;
    height: 50vh;
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 2%;
    display: grid;
    grid-template-columns: 60% 60%;
    grid-template-rows: 20% 20% 20% 20%;
    border: 2px solid #000;
}


/* .responsavel_grid_item{
    border: 2px solid #000;
} */

.responsavel_grid_item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin-left: 22%;
}

</style>

<div id="grid-container">
    <div class="grid-item">
        <div id="profile_pic">
            <img src="" id="icon_user">
        </div>

        <div>
            <p id="name_empreiteira">Empretech</p>
            <p id="service_empreiteira">Cerâmica</p>
        </div>
    </div>
               
    <div class="grid-item">
         <button id="edit_profile">Editar Perfil</button>
    </div>   
    <div class="grid-item">
        <div id="info_empreiteira">
            <div class="info_grid_item">
                <h2>Dados Cadastrais</h1> 
            </div>
            <div class="info_grid_item">
                <p class="title_grid"><b>CNPJ</b></p>
                <p id="cnpj" name="cnpj"></p>
            </div>
            <div class="info_grid_item">        
                <p class="title_grid"><b>E-mail:</b></p>
                <p id="email">Empretech@gmail.com</p>
            </div>
            <div class="info_grid_item">
                <p class="title_grid"><b>Data de Abertura:</b></p>
                <p id="open_date_value">30/10/2020</p> 
            </div>
            <div class="info_grid_item">
                <p class="title_grad"><b>Número de funcionários:</b></p>
                <p id="funcionarios_empreiteira_value">15 funcionários</p> 
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div id="rate_empreiteira">
            <div class="rate_grid_item">
                <h2>Avaliações</h1> 
            </div>
            <div class="rate_grid_item">
                <p>Avaliação Geral</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="rate_grid_item">        
                <p>Organização</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
             
            </div>
            <div class="rate_grid_item">        
                <p>Produtividade</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
               
            </div>
            <div class="rate_grid_item">        
                <p>Documentação</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                
            </div>
            <div class="rate_grid_item">        
                <p>Limpeza</p>
                <div class="rate_star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                
            </div>
        </div>
   </div>

   <div class="grid-item">
    <div id="info_responsavel">
        <div class="responsavel_grid_item">
            <h2>Responsável pela Empreiteira</h1> 
        </div>
        <div class="responsavel_grid_item">
            <p class="title_grid"><b>CPF:</b></p>
            <p id="cpf_resp">XXX.XXX.XXX-XX</p>
        </div>
        <div class="responsavel_grid_item">        
            <p class="title_grid"><b>E-mail:</b></p>
            <p id="email_resp">Joao_Martins.Empretech@gmail.com</p>
        </div>
        <div class="responsavel_grid_item">
            <p class="title_grid"><b>Nome Completo:</b></p>
            <p id="name_resp">João Martins de Oliveira</p>
        </div>
     
        <div class="responsavel_grid_item">
            <p class="title_grad"><b>Celular - Whatsapp:</b></p>
            <p id="cel_resp">(XX) XXXXX-XXXX</p> 
        </div>
        </div>
    </div>
</div>

