
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/views/css/faq.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/frontend/scripts/faq.js"></script>
    <title>FAQ</title>
</head>
<body>
    <div id="faq">
        <div id="bg"></div>
        <div id="container">
            <h1>FAQ</h1>
            <section>
                <details>
                    <summary>Como demonstrar interesse em um post</summary>
                    <video controls src="frontend/views/video/1.mp4"></video>
                </details>
                <details>
                    <summary>Como vizualizar os posts de interesse</summary>
                    <video controls src="frontend/views/video/1.mp4"></video>
                </details>
            </section>
        </div>
    </div>
</body>
</html>