<style>
    .footer{
        padding: 10px 2%;
        background-color: #234121;
        position: fixed;
        bottom: 0;
        width: 100%;
        /* box-shadow: 0 0 10px 10px black; */
}
</style>
<div class="footer flex-div" id="footPost"><img src="https://www.mrv.com.br/toporodapecore/build/img/logo-mrv.png" alt="MRV"></div>
