<head>
    <link rel="stylesheet" href="/frontend/views/css/menu.css">
</head>
<body>
    <div class="footer flex-div" id="footPost">
        <a href="https://www.mrv.com.br" id="mrv"><img src="https://www.mrv.com.br/toporodapecore/build/img/logo-mrv.png" alt="MRV"></a>
        <a href="https://institutomrv.com.br" id="inst_mrv"><img src="https://institutomrv.com.br/wp-content/themes/imrv/img/instituto-mrv.png" alt="InstitutoMRV"></a>
        <a href="https://www.facebook.com/MRV/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/mrv/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/mrv"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/mrvengenharia/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://twitter.com/mrvoficial"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </div>
</body>