<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/35a78a5461.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../../frontend/scripts/menu.js"></script>
    <script src="../../frontend/scripts/faq.js"></script>
    <link rel="stylesheet" href="/frontend/views/css/menuContratante.css">
</head>

<body>
  <script>
    
  </script>
    <!-- Menu Lateral e Menu SupSerior -->
<div class="principal">
    <div class="header normal-shadow">
      <div class="horizontal-container">
        <div class="icons-left">
          <!-- <i id="toggle-sidebar" class="fa-solid fa-bars"></i> -->
        </div>
        <h1 class="menu-names">ConstruMatch </h1>
        <div class="icons-right">
        </div>
      </div>
    </div>
    <!--<div class="main-container center horizontal-container"> -->
    <div class="sidebar">
      <div class="vertical-container">
        <a onclick="redirect('regionalPerfil')">
          <div class="horizontal-container center">
            <i class="fa-solid fa-user"></i>
            <h5 class="menu-names">Perfil</h5>
          </div>
        </a>
        <a onclick="redirect('interessados')">
          <div class="horizontal-container center">
            <i class="fa-solid fa-hammer"></i>
            <h5 class="menu-names" align=center>Interessados Oportunidades</h5>
          </div>
        </a>
        <a onclick="redirect('faq')">
          <div class="horizontal-container center" id="help">
            <a onclick="redirect('structures/faq')"></a>
            <i class="fa-solid fa-circle-info"></i>
            <h5 class="menu-names">Ajuda</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="contente"
  





