<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/35a78a5461.js" crossorigin="anonymous"></script>
    
    <title>Menu</title>
</head>
<body>
    <style>
        *{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

:root{
    /* - Color palette - */
    --blue1: #93b1cb;
    --blue2: #85a7c5;
    --blue3: #789ebf;
    --greenA1: #568f6a;
    --greenA2: #428157;
    --greenA3: #006b3f;
    --greenB1: #8fe094;
    --greenB2: #81dc87;
    --greenB3: #73d97a;
    --yellowA01: #ffd375;
    --yellowA1: #ffc546;
    --yellowA2: #ffbe2f;
    --yellowA3: #ffb719;
    --yellowB01: #ffb97a;
    --yellowB1: #ffa24e;
    --yellowB2: #ff9638;
    --yellowB3: #ff8b22;
}

/* --- General Styles --- */
/* h1, h2, h3, h4, h5, h6, p, label{
    color: white;
} */
a{
    color: var(--greenB1);
}
a:hover{
    color: var(--yellowA1);
}

.header, .footer{
    background: linear-gradient(to right, var(--greenA2), var(--greenA3));
    width: 100%;
    z-index: 10;
}
.header h1, .footer h1{
    margin-left: 10px;
    vertical-align: middle;
    font-weight: bold;

}
.header{
    position: fixed;
    left: 0;
    top: 0;
}
.header.normal-shadow{
    box-shadow: 160px 5px 20px gray;
}
.header .icons-right, .header .icons-left{
    margin: auto;
    flex-grow: 1;
}
.header .icons-right{
    text-align: right;
}
.header .icons-left{
    text-align: left;
}
.header .icons-right i, .header .icons-left i{
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
.header .icons-right i:hover, .header .icons-left i:hover{
    color: var(--yellowA1);
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
}
.footer.normal-shadow{
    box-shadow: 160px -5px 20px gray;
}
.footer img{
    width: 70px;
    margin: 5px;
}
.footer .horizontal-container{
    margin: 20px;
}

.sidebar{
    background: linear-gradient(180deg, var(--greenA2), var(--greenA3));
    position: fixed;
    left: 0;
    min-height: 100vh;
    width: 150px;
    z-index: 9;
    top:20px;
}
.sidebar .vertical-container{
    margin-top: 50px;
    min-height: calc(100vh - 120px);
    padding-block: 10px;
}
.sidebar .horizontal-container:hover i, .sidebar .horizontal-container:hover h5{
    color: var(--yellowA1);
    cursor: pointer;
}
.sidebar i{
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 10px;
    left: 10px;
    cursor: pointer;
}
.sidebar .menu-active{
    color: var(--yellowA1);
}
.sidebar h5{
    margin-left: 50px;
}
.sidebar a{
    text-decoration: none;
}

.main-container{
    /* border: cadetblue dotted 10px; DELETE THIS */
    width: 100%;
    min-height: 100vh;
    top: 20px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* --- Container Framing --- */
.horizontal-container{
    display: flex;
    flex-direction: row;
}

.vertical-container{
    display: flex;
    flex-direction: column;
}
.sidebar h1, h2, h3, h4, h5{
    margin: 15px;
} 

.menu-names{
    color: #fff;
}
    </style> -

    <!-- Menu Lateral e Menu Superior -->   

    <div class="header normal-shadow">
        <div class="horizontal-container">
            <div class="icons-left">
                <!-- <i id="toggle-sidebar" class="fa-solid fa-bars"></i> -->
            </div>
            <h1 class="menu-names">ConstruMatch</h1>
            <div class="icons-right">
            </div>
        </div>  
    </div>
    <div class="main-container center">
        <div class="sidebar">
            <div class="vertical-container">
                <a href="feed"><div class="horizontal-container center">
                    <i class="fa-solid fa-list menu-active"></i>
                    <h5 class="menu-names">Feed</h5>
                </div></a>
                <a href="perfilEmp"><div class="horizontal-container center">
                    <i class="fa-solid fa-user"></i>
                    <h5 class="menu-names">Perfil</h5>
                </div></a>
                <!-- <a href><div class="horizontal-container center">
                    <i class="fa-solid fa-hammer"></i>
                    <h5 class="menu-names" align=center>Meus serviços</h5>
                </div></a> -->
                <a href="faq"><div class="horizontal-container center">
                    <i class="fa-solid fa-circle-info"></i>
                    <h5 class="menu-names">Ajuda</h5>
                </div></a>
            </div>
        </div>
        
      
</body>
</html>