<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/modal.css">
    <title>Modal</title>
</head>
<body>
    <a href="#modal" class="btn">Abrir modal</a>
    <div id="modal" class="modal">
        <div class="modal_content">
           <h2 class="modal_title">Editar suas informações</h2>
           <div class="modal_description">
            <form id="formulario_uptade_empreiteira">
                <p>CNPJ:</p>
                <input type="number" readonly placeholder="1123829329/0001-90"></input>
                <p>Nome Fantasia:</p>
                <input type="text" placeholder=""></input>
                <p>Razão Social:</p>
                <input type="text" placeholder=""></input>
                <p>CNAE:</p>
                <input type="number" placeholder=""></input>
                <p>Data de Abertura:</p>
                <input type="date" placeholder=""></input>
                <p>Número de Funcionários:</p>
                <input type="number" placeholder=""></input>
                <p>Cidade:</p>
                <input type="text" placeholder=""></input>
                <p>Estado:</p>
                <input type="text" placeholder=""></input>
                
            </form>
                
            </div>
            <div id="modal_buttons">
                <a href="#" class="close_button">Fechar</a>
                <a href="#" class="send_button">Atualizar</a>
            </div>
           
       </div>
   </div>
   

    
</body>
</html>