@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: "Noto Sans";
}

:root{
    /* - Color palette - */
    --blue1: #93b1cb;
    --blue2: #85a7c5;
    --blue3: #789ebf;
    --greenA1: #568f6a;
    --greenA2: #428157;
    --greenA3: #006b3f;
    --greenB1: #8fe094;
    --greenB2: #81dc87;
    --greenB3: #73d97a;
    --yellowA01: #ffd375;
    --yellowA1: #ffc546;
    --yellowA2: #ffbe2f;
    --yellowA3: #ffb719;
    --yellowB01: #ffb97a;
    --yellowB1: #ffa24e;
    --yellowB2: #ff9638;
    --yellowB3: #ff8b22;
    --boneWhite: #F9F6EE
}

details {
    margin-top: 3ch;
}

h1,
details {
    text-align: center;
}

#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    z-index: 13;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
}

#container {
    position: absolute;
    background: var(--greenA3);
    color: white;
    display: flex;
    border-radius: 5ch;
    flex-direction: column;
    padding: 2ch;
    width: 40rem;
    height: 30rem;
    z-index: 14;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: scroll;

}

#container video {
    width: 30rem;
    border-radius: 5ch;
}
