@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0; 
}

html{
    background-color: var(--boneWhite);
}

:root{
    /* - Color palette - */
    --blue1: #93b1cb;
    --blue2: #85a7c5;
    --blue3: #789ebf;
    --greenA1: #568f6a;
    --greenA2: #428157;
    --greenA3: #006b3f;
    --greenB1: #8fe094;
    --greenB2: #81dc87;
    --greenB3: #73d97a;
    --yellowA01: #ffd375;
    --yellowA1: #ffc546;
    --yellowA2: #ffbe2f;
    --yellowA3: #ffb719;
    --yellowB01: #ffb97a;
    --yellowB1: #ffa24e;
    --yellowB2: #ff9638;
    --yellowB3: #ff8b22;
    --boneWhite: #F9F6EE
}

#grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 80% 80%; 
    /* grid-template-rows: 20%; */
    justify-content: center;
    margin-top: 100px;

    width: 85vw;

}

.grid-item{
    display: flex;
    margin-left: 25vw;
    /* padding-bottom: 30px; */
   
    width: 85vw;
}

.grid-item > p{
    color: #000;
   
}

#profile_pic{
    background-color: gray;
    border-radius: 50%;
    width: 120px;
    height: 115px;
    position: relative;
}

#icon_user{
    position: absolute;
    top: 21%;
    left: 29%;
    height: 8vh;
}

.grid-item:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: black;
    text-align: center;
}

.grid-item:nth-child(1) > div{
    margin-left: 40px;

}

#name_empreiteira, #service_empreiteira{
    color: green;
}

#name_empreiteira{
    font-size: 60px;
    margin-bottom: 5px;
}

#service_empreiteira{
    font-size: 25px;
}


#edit_profile, #new_postagem{
    border-radius: 30px;
    background-color: var(--greenA3);
    color: #fff;
    font-weight: bold;
    width: 150px;
    height: 50px;
    cursor: pointer;
    word-wrap: break-word;

}

#edit_profile:hover, #new_postagem:hover{
    background-color: #fff;
    color: var(--greenA3);
    font-weight: bold;
    border: 2px solid var(--greenA3);
}
/* 
.grid-item:nth-child(2){
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: initial;
} */

.grid-item:nth-child(2){
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: flex-end; */
    /* justify-content: center; */
    grid-column-start: 1;
    grid-column-end: 3;
    /* justify-content: center; */
    padding: 2% 0 2% 3.5%;
    justify-content: space-evenly;

}


#info_empreiteira{
    width: 90%;
    height: 50vh;
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 2% 5% 2% 2%;
    display: grid;
    grid-template-columns: 60% 60%;
    grid-template-rows: 20% 20% 20% 20%;
    border: 2px solid #000;
 
}

#info_empreiteira > p{
    color: #000;
}

#rate_empreiteira{
    width: 90%;
    height: 50vh;
    background-color: #D9D9D9;
    border-radius: 40px;
    padding: 2%;
    display: grid;
    grid-template-columns: 100%;
    border: 2px solid #000;
}

#rate_empreiteira > .rate_grid_item > h2{
    margin-top: -5px;
}

.grid-item:nth-child(5){
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 0 0 0;
} 

.grid-item:nth-child(3){
    display: flex;
    flex-direction: row; 
    /* flex-direction: flex-end; */
     justify-content: center; 
     grid-column-start: 1;
     grid-column-end: 3;
   
    /* padding-left: 25%; */
    /* background-color: blue; */
}

.grid-item:nth-child(4){
    display: flex;
    flex-direction: row; 
    /* flex-direction: flex-end; */
    justify-content: center; 
    grid-column-start: 1;
    grid-column-end: 3
    ;
    /* padding-left: 25%; */
    /* background-color: blue; */
}

.info_grid_item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin-left: 22%;
    }

#title_grad{
    margin-top: 30px;
}

.rate_grid_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate_grid_item:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}

#info_contratante{
    width: 98.5%;
    height: 50vh;
    background-color: var(--greenA3);
    color: #fff;
    border-radius: 40px;
    padding: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20%;
    border: 2px solid #000;
}


 .contratante_grid_item{
    /* border: 2px solid #000; */
    text-align: center;
    line-break:normal;
} 

.contratante_grid_item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    /* display: flex;
    justify-content: center; */
}


/* CSS referente a view a Listar */

.box-oportunidade{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 35vh;
    padding: 1px;
    margin-left: 7vw;
    /* padding-bottom: 30px; */
    border: 2px solid #000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-titulo{
    width: 100%;
    height: 15%;
    background-color: var(--greenA3);
    color: #fff;
    font-weight: bold;
    text-justify: center;
    word-wrap: break-word;
}

.box-infos-oportunidade{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    color: var(--greenA3);
    font-weight: bold;
    word-wrap: break-word;
}

.box-info-cadastrais{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    word-wrap: break-word;
}

.box-informacao-escopo{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    word-wrap: break-word;
}

#botoes-oportunidade{
    border-radius: 30px;
    background-color: var(--greenA3);
    color: #fff;
    font-weight: bold;
    width: 15vw;
    height: 5vh;
    cursor: pointer;
    word-wrap: break-word;
 }


/* CSS Referente a criar Oportunidade*/

.box-criar-oportunidade{
    background-color: var(--greenA3);
    color: #fff;
    width: 20vw;
    height: 25vh;
    font-weight: bold;
    display: grid;
    border: 2px solid black;
    place-content: center;

    
    transition: 0.3s;


}

/* Modal Editar Contratante */

a{
    text-decoration: none;
}

/* .btn{
    display: inline-flex;
    padding: 1rem;
    background-color: var(--greenA3);
    color: #fff;
    justify-content: center;
    border-radius: 4px;
} */
.modal, .modal_postagem{
    position: absolute;
    width: 50%;
    height: 50%;
    color: #fff;
    background-color: var(--greenA2);
    display: grid;
    border: 2px solid black;
    place-content: center;
    border-radius: 30px;
    font-weight: bold;
    position: absolute;
    right: 25vw;
    bottom: 25vh;
    justify-content: center;
    transition: 0.3s;
    
    z-index: 11;
    
}

.modal:target, .modal_postagem:target{
    opacity: 1;
    visibility: visible;    
}

.modal_content{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    padding: 2rem 2rem 1rem;
    border-radius: 10px;
    border-top: 0.5rem solid var(--greenA3);
    z-index: 11;
    
}

.modal_title{
    margin-bottom: 1rem;
    justify-content: center;
    z-index: 11;
}

.send_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--greenA3);
    color: #fff;
    padding: 0.7rem 3rem;
    margin-top: 1rem;
    border-radius: 4px;
    font-weight: bold;
    z-index: 11;
}

.send_button:hover{
    background-color: #fff;
    color: var(--greenA3);
    font-weight: bold;
    border: 2px solid var(--greenA3);
}
.send_button:active{
    background-color: var(--greenA2);
    color: #fff;
}

.close_button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
    color: #fff;
    padding: 0.7rem 3rem;
    margin-top: 1rem;
    border-radius: 4px;
    font-weight: bold;
}

.close_button:hover{
    background-color: #fff;
    color: #FF0000;
    font-weight: bold;
    border: 2px solid #FF0000;
}

.close_button:active{
    background-color: #8B0000;
    color: #fff;
}

.modal_title{
    text-align: center;
    z-index: 11;
}

#formulario_uptade_contratante > p{
    margin-top: 12px;
    margin-left: 2%;
}

#formulario_uptade_contratante > input{
    padding: 3px 7px 3px 7px;
    border-radius: 30px;
    border: 2px solid #000;
    width: 70%;
}

/* CSS Criar Postagem */


.containerUnique{
    width: 100%;
    left:0px;
    margin-top: 30px;
    font-weight: bold;
    padding-left: 15%;
    font-size: 24px;
}
.containerDouble{
    width: 50%;
    margin: 0px;
    font-weight: bold;
    padding-left: 10%;
    font-size: 24px;
    margin-top: 30px;
}
.inputSmall{
    border-radius: 20px;
    width: 80%;
    height: 30px;
    padding-left: 5px;
}
.inputBig{
    border-radius: 20px;
    width: 80%;
    height: 80px;
    padding-left: 5px;
}
.box{
    display: flex;
    left: 0px;
    flex-wrap: wrap;
    width: 100%;
}


#cidadePost{
    width:70% ;
}
#estadoPost{
    width: 10%;
}
#headPost{
    box-shadow: 0 0 5px 5px var(--yellowA2);
}
#footPost{
    box-shadow: 0 0 5px 5px var(--yellowA2);
}
#postar{
    width: 40%;
}
#botaoPost{
    text-align: center;
    padding: 0px;
}
#backgroundPost{
    background-color: var(--boneWhite);
}
